table {
    border-collapse: collapse;
}

thead {
    background-color: #2a2a2a;
}

th {
    width: 150px;
}

tr:nth-child(2n) {
    background-color: #d3d3d3;
}

.tableTitle {
    color: #ffffff;
}

tr,
td,
th {
    border: 1px solid #000000;
}